In [1]:
import pandas as pd
import sys
import os
sys.path.append(os.path.abspath('..'))
from src.data_loader import load_data, load_items, load_user

In [2]:
data_path = '../data'
data = load_data(data_path)
items = load_items(data_path)
users = load_user(data_path)

In [3]:
# Merge and display sample
df = pd.merge(data, items, on='movie_id')
df = pd.merge(df, users, on='user_id')

In [4]:
df.head()

,user_id,movie_id,rating,timestamp,movie_title,release_date,video_release_date,IMDb_URL,unknown,Action,...,Mystery,Romance,Sci-Fi,Thriller,War,Western,age,gender,occupation,zip_code
0,196,242,3,881250949,Kolya (1996),24-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Kolya%20(1996),0,0,...,0,0,0,0,0,0,49,M,writer,55105
1,186,302,3,891717742,L.A. Confidential (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?L%2EA%2E+Conf...,0,0,...,1,0,0,1,0,0,39,F,executive,00000
2,22,377,1,878887116,Heavyweights (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Heavyweights%...,0,0,...,0,0,0,0,0,0,25,M,writer,40206
3,244,51,2,880606923,Legends of the Fall (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Legends%20of%...,0,0,...,0,1,0,0,1,1,28,M,technician,80525
4,166,346,1,886397596,Jackie Brown (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-11...,0,0,...,0,0,0,0,0,0,47,M,educator,55113

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 31 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   user_id             100000 non-null  int64
 1   movie_id            100000 non-null  int64
 2   rating              100000 non-null  int64
 3   timestamp           100000 non-null  int64
 4   movie_title         100000 non-null  object
 5   release_date        99991 non-null   object
 6   video_release_date  0 non-null       float64
 7   IMDb_URL            99987 non-null   object
 8   unknown             100000 non-null  int64
 9   Action              100000 non-null  int64
 10  Adventure           100000 non-null  int64
 11  Animation           100000 non-null  int64
 12  Children's          100000 non-null  int64
 13  Comedy              100000 non-null  int64
 14  Crime               100000 non-null  int64
 15  Documentary         100000 non-null  int64
 16  Drama               100000 non-null  int64
 17  Fantasy             100000 non-null  int64
 18  Film-Noir           100000 non-null  int64
 19  Horror              100000 non-null  int64
 20  Musical             100000 non-null  int64
 21  Mystery             100000 non-null  int64
 22  Romance             100000 non-null  int64
 23  Sci-Fi              100000 non-null  int64
 24  Thriller            100000 non-null  int64
 25  War                 100000 non-null  int64
 26  Western             100000 non-null  int64
 27  age                 100000 non-null  int64
 28  gender              100000 non-null  object
 29  occupation          100000 non-null  object
 30  zip_code            100000 non-null  object
dtypes: float64(1), int64(24), object(6)
memory usage: 23.7+ MB

In [6]:
# Convert release_date to datetime and extract the year
df['release_date'] = pd.to_datetime(df['release_date'])
df['video_release_date'] = df['release_date'].dt.year
df["video_release_date"].astype('object')
df

,user_id,movie_id,rating,timestamp,movie_title,release_date,video_release_date,IMDb_URL,unknown,Action,...,Mystery,Romance,Sci-Fi,Thriller,War,Western,age,gender,occupation,zip_code
0,196,242,3,881250949,Kolya (1996),1997-01-24,1997.0,http://us.imdb.com/M/title-exact?Kolya%20(1996),0,0,...,0,0,0,0,0,0,49,M,writer,55105
1,186,302,3,891717742,L.A. Confidential (1997),1997-01-01,1997.0,http://us.imdb.com/M/title-exact?L%2EA%2E+Conf...,0,0,...,1,0,0,1,0,0,39,F,executive,00000
2,22,377,1,878887116,Heavyweights (1994),1994-01-01,1994.0,http://us.imdb.com/M/title-exact?Heavyweights%...,0,0,...,0,0,0,0,0,0,25,M,writer,40206
3,244,51,2,880606923,Legends of the Fall (1994),1994-01-01,1994.0,http://us.imdb.com/M/title-exact?Legends%20of%...,0,0,...,0,1,0,0,1,1,28,M,technician,80525
4,166,346,1,886397596,Jackie Brown (1997),1997-01-01,1997.0,http://us.imdb.com/M/title-exact?imdb-title-11...,0,0,...,0,0,0,0,0,0,47,M,educator,55113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,880,476,3,880175444,"First Wives Club, The (1996)",1996-09-14,1996.0,http://us.imdb.com/M/title-exact?First%20Wives...,0,0,...,0,0,0,0,0,0,13,M,student,83702
99996,716,204,5,879795543,Back to the Future (1985),1985-01-01,1985.0,http://us.imdb.com/M/title-exact?Back%20to%20t...,0,0,...,0,0,1,0,0,0,36,F,administrator,44265
99997,276,1090,1,874795795,Sliver (1993),1993-01-01,1993.0,http://us.imdb.com/M/title-exact?Sliver%20(1993),0,0,...,0,0,0,1,0,0,21,M,student,95064
99998,13,225,2,882399156,101 Dalmatians (1996),1996-11-27,1996.0,http://us.imdb.com/M/title-exact?101%20Dalmati...,0,0,...,0,0,0,0,0,0,47,M,educator,29206
99999,12,203,3,879959583,Unforgiven (1992),1992-01-01,1992.0,http://us.imdb.com/M/title-exact?Unforgiven%20...,0,0,...,0,0,0,0,0,1,28,F,other,06405

In [7]:
df.isnull().sum()

user_id                0
movie_id               0
rating                 0
timestamp              0
movie_title            0
release_date           9
video_release_date     9
IMDb_URL              13
unknown                0
Action                 0
Adventure              0
Animation              0
Children's             0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Fantasy                0
Film-Noir              0
Horror                 0
Musical                0
Mystery                0
Romance                0
Sci-Fi                 0
Thriller               0
War                    0
Western                0
age                    0
gender                 0
occupation             0
zip_code               0
dtype: int64

In [8]:
df.dropna(inplace = True)

In [9]:
df.isnull().sum()

user_id               0
movie_id              0
rating                0
timestamp             0
movie_title           0
release_date          0
video_release_date    0
IMDb_URL              0
unknown               0
Action                0
Adventure             0
Animation             0
Children's            0
Comedy                0
Crime                 0
Documentary           0
Drama                 0
Fantasy               0
Film-Noir             0
Horror                0
Musical               0
Mystery               0
Romance               0
Sci-Fi                0
Thriller              0
War                   0
Western               0
age                   0
gender                0
occupation            0
zip_code              0
dtype: int64

In [10]:
# show duplicate value
df.duplicated().sum()

np.int64(0)

In [11]:
# show decribe about Data
df.describe().style.background_gradient(cmap = 'coolwarm')

In [12]:
df.to_csv('../data/ratings_merged.csv', index=False)